:root {
  --white-color: #e7e7e9;
  --black-color: #010101;
  --red-color: #f44144;
  --font-family: 'Pacifico', cursive;
  --margin: 60px 0;
  --transition: 0.5s;
}

.landing {
  width: 100%;
  position: relative;
  height: 75vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  transition: background 1s ease-in;
  -webkit-transition: background 1s ease-in;
  -moz-transition: background 1s ease-in;
  -ms-transition: background 1s ease-in;
  -o-transition: background 1s ease-in;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.5);
  z-index: -1;
}

.landing .text {
  width: 50%;
}

.landing .text h1 {
  color: var(--white-color);
  line-height: 1.3;
  font-size: 40px;
}

.landing .text h1 span {
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--red-color);
}

.landing .text p {
  margin: 12px 0;
  color: var(--white-color);
}

.landing .text a {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--red-color);
  color: var(--white-color);
  font-weight: bold;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.landing .bullets {
  position: absolute;
  bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.landing .bullets span {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.landing .bullets span.bullet-active {
  background-color: var(--white-color);
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    padding: 0 12px;
  }

  .landing .text h1 {
    font-size: 27px;
  }

  .landing .text p {
    font-size: 14px;
  }

  .landing .text a {
    padding: 10px 20px;
  }
}

/* End Landing */
/* Start  Gallery */
.images-wrapper {
  margin: var(--margin);
  display: flex;
  align-items: center;
  justify-content: center;

}

.images-wrapper .img-box {
  width: 350px;
  height: 350px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--white-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.images-wrapper .img-box:first-child {
  margin-right: -25px;
}

.images-wrapper .img-box:last-child {
  margin-left: -25px;
}

.images-wrapper .img-box:nth-child(2) {
  scale: 1.1;
  z-index: 10;
}

.images-wrapper .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media (min-width: 768px) and (max-width: 1023px) {

  .images-wrapper .img-box {
    width: 250px;
    height: 250px;
  }

}

@media (max-width: 767px) {
  .images-wrapper {
    flex-direction: column;
  }

  .images-wrapper .img-box {
    width: 250px;
    height: 250px;
  }

  .images-wrapper .img-box:first-child {
    margin-right: 0;
    margin-bottom: -25px;
  }

  .images-wrapper .img-box:last-child {
    margin-left: 0;
    margin-top: -25px;
  }

}

/* End  Gallery */
/* Start popular */
.pop-wrapper {
  margin: var(--margin);
}

.pop-wrapper .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 12px 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.pop-wrapper .btns li {
  padding: 4px 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-weight: 500;
  color: var(--black-color);
  font-family: var(--font-family);
  cursor: pointer;
}

.pop-wrapper .btns li.active {
  background-color: var(--red-color);
  color: var(--white-color);
}

.pop-wrapper .cards {
  margin: var(--margin);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.pop-wrapper .cards .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 12px 6px;
  background-color: var(--white-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
}

.pop-wrapper .cards .card .img-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-wrapper .cards .card .img-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.6));

}

.pop-wrapper .cards .card .info {
  text-align: center;
}

.pop-wrapper .cards .card .info h4 {
  color: var(--red-color);
  font-size: 18px;
  font-family: var(--font-family);

}

.pop-wrapper .cards .card .info .sizes-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 8px 0;
}

.pop-wrapper .cards .card .info .sizes-price li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.pop-wrapper .cards .card .info .sizes-price li.selected {
  background-color: var(--red-color);
  color: var(--white-color);
}

.pop-wrapper .cards .card .info .sizes-price li .size {
  font-weight: bold;
  color: var(--black-color);
}

.pop-wrapper .cards .card .info .sizes-price li .price {
  font-weight: bold;
  color: var(--black-color);
}

.pop-wrapper .cards .card .info .sizes-price li.selected .size,
.pop-wrapper .cards .card .info .sizes-price li.selected .price {
  color: var(--white-color);
}

.pop-wrapper .cards .card .cart-icon {
  position: absolute;
  right: -12px;
  bottom: -12px;
  width: 24px;
  height: 24px;
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.3;
  pointer-events: none;
  cursor: pointer;

}

.pop-wrapper .cards .card .cart-icon.hide {
  opacity: 1;
  background-color: var(--red-color);
  pointer-events: visible;
}



@media (max-width: 767px) {
  .pop-wrapper .cards .card .img-box {
    height: 140px;
  }

  .pop-wrapper .btns li {
    padding: 4px 10px;
  }
}

/* End popular */
/* Start Why */

.why .container .cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.why .container .cards {
  margin: var(--margin);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}


.why .container .cards .card {
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  cursor: pointer;
}

.why .container .cards .card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.why .container .cards .card .img-box {
  background-color: rgba(244, 65, 68, 0.2);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why .container .cards .card .img-box img {
  width: 70%;
  object-fit: cover;
}

.why .container .cards .card .text {
  margin: 30px 0;
}

.why .container .cards .card .text h4 {
  color: var(--black-color);
  font-size: 18px;
  margin-bottom: 15px;
}

.why .container .cards .card .text p {
  color: #666;
  font-size: 14px;
}

/* End Why */
/* Start Team */
.team .container .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: var(--margin);
}

.team .container .cards .card {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.team .container .cards .card:hover .info {
  opacity: 1;
}

.team .container .cards .card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.team .container .cards .card li {
  list-style: none;
  position: absolute;
  left: 0;
  transform-origin: 150px;
  z-index: -1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(150px);
  -webkit-transform: rotate(0deg) translateX(150px);
  -moz-transform: rotate(0deg) translateX(150px);
  -ms-transform: rotate(0deg) translateX(150px);
  -o-transform: rotate(0deg) translateX(150px);
}

.team .container .cards .card:hover li {
  transform: rotate(calc(360deg / 6 * var(--i)));
  -webkit-transform: rotate(calc(360deg / 6 * var(--i)));
  -moz-transform: rotate(calc(360deg / 6 * var(--i)));
  -ms-transform: rotate(calc(360deg / 6 * var(--i)));
  -o-transform: rotate(calc(360deg / 6 * var(--i)));
}

.team .container .cards .card li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red-color);
  width: 50px;
  height: 50px;
  color: var(--white-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: rotate(calc(360deg / -6 * var(--i)));
  -webkit-transform: rotate(calc(360deg / -6 * var(--i)));
  -moz-transform: rotate(calc(360deg / -6 * var(--i)));
  -ms-transform: rotate(calc(360deg / -6 * var(--i)));
  -o-transform: rotate(calc(360deg / -6 * var(--i)));
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.team .container .cards .card li a:hover {
  background-color: var(--black-color);
}


@media (max-width: 767px) {
  .team .container .cards .card {
    width: 250px;
    height: 250px;
  }

  .team .container .cards .card img {
    width: 150px;
    height: 150px;
  }

  .team .container .cards .card li {
    transform-origin: 125px;
    transform: rotate(0deg) translateX(125px);
    -webkit-transform: rotate(0deg) translateX(125px);
    -moz-transform: rotate(0deg) translateX(125px);
    -ms-transform: rotate(0deg) translateX(125px);
    -o-transform: rotate(0deg) translateX(125px);
  }

  .team .container .cards .card li a {
    width: 40px;
    height: 40px;
  }
}

/* End Team */